<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body style="color: #AEFEFF; background-color: #072227; text-align: center;">


    <%dList.forEach(doctor=> {%>
        <div style="width: 300px">
            <div style="float: left">
                <%= doctor.name %> <br>
                    <%= doctor.address %> <br>
                        <!-- <%= doctor.specialization %><br> -->
                        <img src="/images/doctor-icon-avatar-white_136162-58-removebg-preview.png"
                            style="width:100px; height: 100px">
                        <%= doctor.years %><br>
            </div>
            <button style="float: right" type="submit" name="submit"><a href="#">SUBMIT</a></button>
        </div>
        <%})%>

            <!-- <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Address</th>
                <th scope="col">Specialization</th>
                <th scope="col">e-mail ID</th>
                <th scope="col">Location</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            <%dList.forEach(doctor=> {%>
                <tr>

                    <td>
                        <%= doctor.name %>
                    </td>
                    <td>
                        <%= doctor.address %>
                    </td>
                    <td>
                        <%= doctor.specialization %>
                    </td>
                    <td>
                        <%= doctor.years %>
                    </td>
                    <td></td>
                    <td>
                        <button type="submit" name="submit"><a href="#">SUBMIT</a></button>
                    </td>
                </tr>
                <%})%>
        </tbody>
    </table> -->
</body>

</html>
